<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Mircrosite</title>
    <link rel="stylesheet" href="/Assets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid my-2 " style="width: 86%;">
                <img class="ptglogo" src="../assets/images/logo-png[478].png" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class=" me-auto"> </div>
                    <div class="d-flex  w-auto">
                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Solutions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Learn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="insurance">Insurance</h3>
                        <p class="para">Helping insurers transition, transform and adapt to a digital-first insurance
                            industry</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <h3 class="Disruption">Disruption in the Insurance Industry</h3>
                <p class="para2">The insurance industry has been significantly impacted by technology in recent years.
                    Technological advancements have transformed the way insurers operate, from underwriting and claims
                    management to customer engagement and marketing. Technologies like AI / ML, Advanced Analytics, IoT,
                    Cloud Computing, Blockchain and Automation are transforming the insurance industry by optimizing,
                    streamlining and automating processes while generating insights and data which are enabling insurers
                    to develop new and innovative solutions and reach customers more effectively.</p>
            </div>
            <div class="col-md-6" id="img2"></div>
        </div>
    </div>
    <div class="container-fluid box">
        <h1 class="focus">Focus Verticals</h1>
        <div class="container ">
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 300px;height: 170px;">
                                <div class="row g-0 " style="padding-top: 60px;padding-left: 40px;">
                                    <div class="col-md-4">
                                        <img style="width: 71px; height: 71px;" src="/Assets/Images/Group 49715@2x.png"
                                            class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Life and Annuity</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 300px;height: 170px;">
                                <div class="row g-0 " style="padding-top: 60px;padding-left: 40px;">
                                    <div class="col-md-4">
                                        <img style="width: 71px; height: 71px;" src="/Assets/Images/service.svg"
                                            class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Automotive</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 300px;height: 170px;">
                                <div class="row g-0 " style="padding-top: 60px;padding-left: 40px;">
                                    <div class="col-md-4">
                                        <img style="width: 71px; height: 71px;" src="/Assets/Images/layer1.svg"
                                            class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Property and
                                                Casualty</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div style="height: 67px;"></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 300px;height: 170px;">
                                <div class="row g-0 " style="padding-top: 60px;padding-left: 40px;">
                                    <div class="col-md-4">
                                        <img style="width: 71px; height: 71px;" src="/Assets/Images/Group 49701.svg"
                                            class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Health</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 300px;height: 170px;">
                                <div class="row g-0 " style="padding-top: 60px;padding-left: 40px;">
                                    <div class="col-md-4">
                                        <img style="width: 71px; height: 71px;" src="/Assets/Images/liability.svg"
                                            class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Liability</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 300px;height: 170px;">
                                <div class="row g-0 " style="padding-top: 60px;padding-left: 40px;">
                                    <div class="col-md-4">
                                        <img style="width: 71px; height: 71px;" src="/Assets/Images/business.svg"
                                            class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Business</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-img">
        <h1 style="font-size: 40px;padding-top:27px;color: #FFFFFF;padding-left: 262px;">What We Do</h1>
        <h2 style="font-size: 30px;padding-top:27px;color: #FFFFFF;padding-left: 262px;">Technology Areas:</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="container" style="font-size: 22px;padding-top:27px;color: #FFFFFF;">
                    <div class="row">
                        <div class="col img-col">
                            <img src="/Assets/Images/Outline_00000117678606926971014360000014419419331431382417_.png"
                                alt="">
                            RPA
                        </div>
                        <div class="col img-col">
                            <img src="/Assets/Images/g2718.png">
                            Cloud
                        </div>
                    </div>
                    <div class="row">
                        <div class="col img-col">
                            <img src="/Assets/Images/ai.png">
                            AI / ML
                        </div>
                        <div class="col img-col">
                            <img src="/Assets/Images/iot.png">
                            IoT
                        </div>
                    </div>
                    <div class="row">
                        <div class="col img-col">
                            <img src="/Assets/Images/data-analytics.png">
                            Data Analytics
                        </div>
                        <div class="col img-col">
                            <img src="/Assets/Images/Custom-API-Integration.png">
                            Enterprise Software
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col img-col">
                            <img src="/Assets/Images/Processor security.png">
                            Cybersecurity
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container ">
        <h1 class="case">Case Studies/Success Stories/ Testimonials</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width:24rem;">
                    <img src="/Assets/Images/Mask Group 41.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TBC when available</h5>
                        <p class="card-text">The insurance industry has been significantly impacted by technology in
                            recent years. Technological advancements have transformed the way insurers operate, from
                            underwriting and</p>
                        <div class="text-end">
                            <a class="anchor" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 24rem;">
                    <img src="/Assets/Images/Mask Group 42.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TBC when available</h5>
                        <p class="card-text">The insurance industry has been significantly impacted by technology in
                            recent years. Technological advancements have transformed the way insurers operate, from
                            underwriting and</p>
                        <div class="text-end">
                            <a class="anchor" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 24rem;">
                    <img src="/Assets/Images/Mask Group 43.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TBC when available</h5>
                        <p class="card-text">The insurance industry has been significantly impacted by technology in
                            recent years. Technological advancements have transformed the way insurers operate, from
                            underwriting and</p>
                        <div class="text-end">
                            <a class="anchor" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="our">Our View</h3>
                    <ul class="para3">
                        <li class="mb-2">Macrotrends affecting the Insurance Industry in 2023</li>
                        <li class="mb-2"> The Art of Possible through Technology in the Insurance Industry</li>
                        <li class="mb-2"> of the value chain in the digital context for the insurance industry</li>
                        <li class="mb-2">How AI will disrupt and improve the claims and underwriting processes</li>
                        <li class="mb-2">The imperative for cloud integration in the insurance industry</li>
                        <li class="mb-2"> How telematics and the connected car ecosystem will transform automotive
                            insurance</li>
                        <li class="mb-2">The growing demand for personalization of insurance products and its impact on
                            insurers</li>
                        <li class="mb-2">Cybersecurity and Risk Mitigation using technology in the insurance industry
                        </li>
                    </ul>
                </div>
                <div class="col-md-6" id="img3">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <h1 class="mt-5" style="color: #A72037;font-size: 38px;">Register Here</h1>
            <p class="mb-5" style="color: #343434;font-weight: bold;">Let's get started. First Step is to Register so we
                can follow
                up with you for more details. Please note the
                demand is high and space is limited for the Seattle event so please register right away.</p>
        </div>
        <form>
            <div class="row text">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">First Name :</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Last Name :</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Company Name :</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Job Tittle :</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Company Email Id :</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Contact Number :</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="text-center">
                <button type="submit" style="width: 150px;border-radius: 20px;" class="btn btn-primary mt-5 mb-5">Submit</button>
            </div>
        </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>

</html>